{% extends "AdminSide/admin_master_page.html" %}
{% block content %}
<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Show Driver Details
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options="{
           &quot;paging&quot;: {
             &quot;enabled&quot;: true
           },
           &quot;filtering&quot;: {
             &quot;enabled&quot;: true
           },
           &quot;sorting&quot;: {
             &quot;enabled&quot;: true
           }}">
        <thead>
          <tr>
            <th data-breakpoints="xs">S.No.</th>
            <th>Driver Name</th>
            <th>Driver ID</th>
            <th>Contact No</th>
            <th>Bus No</th>
            <th>Duty Timing</th>
            <th>Status</th>
            <th>Delete</th>
            <th data-breakpoints="xs sm md" data-title="DOB">Update</th>
          </tr>
        </thead>
        <tbody>
          {% if drivers_details %}
          {% for i in drivers_details %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td>{{i.driver_name}}</td>
            <td>{{i.driver_id}}</td>
            <td>{{i.contact_no}}</td>
            <td>{{i.bus_no.bus_no}}</td>
            <td>{{i.duty_timing}}</td>
            <td>{{i.driver_status}}</td>
            <td>
              <a href="{% url 'delete-driver-details' i.id %}">
                <button type="submit" class="btn btn-danger">Delete</button>
              </a>
            </td>
            <td>
              <a href="{% url 'update-driver-details' i.id %}">
                <button type="submit" class="btn btn-info">Update</button>
              </a>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr data-expanded="true">
            <td></td>
            <td></td>
            <td></td>
            <td>No Information is available</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}