{% extends "AdminSide/admin_master_page.html" %}
{% block content %}
<div class="table-agile-info">
              {% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
   <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      Show Buses Details
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options="{
           &quot;paging&quot;: {
             &quot;enabled&quot;: true
           },
           &quot;filtering&quot;: {
             &quot;enabled&quot;: true
           },
           &quot;sorting&quot;: {
             &quot;enabled&quot;: true
           }}">
        <thead>
          <tr>
            <th data-breakpoints="xs">S.No.</th>
            <th>Bus Name</th>
            <th>Bus No</th>
            <th>Bus Registration no</th>
            <th>Setting Capacity</th>
            <th>Standing Capacity</th>


            <th data-breakpoints="xs">Delete</th>

            <th data-breakpoints="xs sm md" data-title="DOB">Update</th>
          </tr>
        </thead>
        <tbody>
          {% if busses_details %}
          {% for i in busses_details %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td>{{i.bus_name}}</td>
            <td>{{i.bus_no}}</td>
            <td>{{i.bus_registration_no }}</td>
            <td>{{i.setting_capacity }}</td>
            <td>{{i.standing_capacity}}</td>
            <td><a href="{% url 'delete-buses-details' i.id %}"><button type="submit"
                  class="btn btn-danger">Delete</button></a></td>
            <td><a href="{% url 'update-buses-details' i.id %}"><button type="submit"
                  class="btn btn-info">Update</button></a></td>
          </tr>
          {% endfor %} 
          {% else %}
          <tr data-expanded="true">
            <td></td>
            <td></td>
            <td></td>
            <td>No Information is available</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}